body {
	font-family: 'Roboto', sans-serif;
	color:#373737;
	margin:0px;
	padding:0px;
	font-weight: bold;
}
a { 
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
div.header{
	width:1280;
	margin:0;
	padding-top:32px;
	padding-bottom:26px;
	text-align:center;
	font-size:12pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
div.header a{
	letter-spacing: 2px;
	margin:25px;
	color:#16a085;
}
div.content img.main{
	height:790px;
	margin:0px;
	padding:0px;
	border:0px;
}
div.content{
	margin:0px;
	width:100%;
	padding:0px;
	text-align:center;
	background-color:#f5f6f7;
}
div.content h1{
	margin:0px,0px;
	padding-top:24px;
	letter-spacing: 2px;
	font-size:16pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
div.content p{
	line-height: 1.5;
	letter-spacing: 2px;
	margin:0px,0px;
	padding-left:150px;
	padding-right:150px;
	font-size:12pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.button {
    background-color: #16a085;
    border: none;
	border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	margin-bottom:80px;
	letter-spacing: 2px;
}
div.footer{
	width:100%;
	height:50px;
	padding:0px;
	margin:0px;
	text-align:right;
}
div.footer p{
	margin:0;
	padding:50px 90px;
}